/* Home */
ul{
  list-style-type:none;
  &.checklist{
    padding-left: 1em;
    padding-right: 1em;
  }

  &.checkbox-group{
    padding:0 1em 1em;
    .checkbox-item{
      &:last-child {
        .checkbox {
          margin-bottom: 0;
        }
      }
    }

  }
  .checklist-item{
    border-top: 1px solid $primary-color;
    &:last-child {
      border-bottom: 1px solid $primary-color;
    }
  }
}

@media only screen
  and (min-device-width: 48rem){
    .reference-item{
      display: inline-block;
    }
}

@media only screen
  and (min-device-width: 36rem){
    ul.checkbox-group{
      &.multi-column{
          column-count: 2;
      }
    }
}

.accordion{
  padding: 0 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  > .accordion-content {
		//transition: transform 0.3s;
    transition-duration: 3s;
	}

  &::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: .15;
    pointer-events: none;
    transition: opacity .2s;
    z-index: -1;
  }

  .accordion-title{
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.2px;
    padding:1em 3em 1em 1em;
    display: block;
    position: relative;
    cursor: pointer;

    &:focus{
      outline: 0;
      background-color: lighten($primary-color, 4%);
    }

    &::before,
    &::after {
     width: .75em;
     margin-right: 1em;
     height: 2px;
     position: absolute;
     top: 50%;
     right: 0;
     content: '';
     background-color: currentColor;
     text-align: right;
     transform: translateY(-50%);
     transition: transform .3s ease-in-out;
    }

    &::after {
     transform: translateY(-50%) rotate(90deg);
    }

    &::-webkit-details-marker {
     display: none;
    }
  }
  p{
    padding-left: 1em;
    padding-right: 1em;
  }
  .accordion-content{

  }

  .checklist-quote{
    margin: auto 1em;
  }

  .reference-item{
    margin-right: 0.5em;
    margin-top: 0.8em;
    display: inline-block;
    &::after {
       margin-left: 0.1em;
       content: ",";
    }
    &:last-child::after {
       content: " ";
    }
  }
  .reference-label{
    margin-bottom: 0;
  }
  .reference-resources
  {
    margin-top: 0;
  }

  &[open] {
    background-color: #FFF;
    border-top: 3px solid darken($primary-color, 40%);
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    padding-bottom: 1em;
    .accordion-title{
      background-color: $primary-color;
      &::after {
         transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &[open] > .accordion-content {
    > * {
      opacity: 0;
      animation: showContent 0.4s ease-in-out;;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes showContent {
  from {
    opacity: 0.2;
    margin-left:-0.2em;
  }
  to {
    opacity: 1;
    margin-left:0px;
  }
}



.checkbox-title{
  margin-bottom: 1em;
  display: block;
}

// Checkbox variables
.checkbox {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-bottom: 1em;
  cursor: pointer;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.checkbox-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $primary-color;
}

.checkbox:hover input ~ .checkbox-indicator,
.checkbox input:focus ~ .checkbox-indicator {
  background: darken($primary-color, 10%)
}
.checkbox input:checked ~ .checkbox-indicator {
  background: $primary-drak;
}
.checkbox:hover input:not([disabled]):checked ~ .checkbox-indicator,
.checkbox input:checked:focus ~ .checkbox-indicator {
  background: darken($primary-drak, 10%)
}
.checkbox input:disabled ~ .checkbox-indicator {
  background: $primary-color;
  opacity: 0.6;
  pointer-events: none;
}
.checkbox-indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkbox-indicator:after {
  display: block;
}
.checkbox .checkbox-indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox input:disabled ~ .checkbox-indicator:after {
  border-color: darken($primary-color, 60%)
}
