/* Typography */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

/* Variables */
$primary-color: #464646;
$primary-grey: #ebebeb;

/* webkit printing magic: print all background colors */
html {
	-webkit-print-color-adjust: exact;
}
* {
	box-sizing: border-box;
	-webkit-print-color-adjust: exact;
}

html,
body {
	padding: 0;
}

@media only screen {
	body {
		margin: 2em auto !important;
		max-width: 900px;
	}
}

body {
	line-height: 1.5;
	white-space: pre-wrap;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: $primary-color;
  overflow-x:hidden;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

h1{
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

a{
  display: inline-block;
  text-decoration: none;
  margin:auto;
}

a,
a.visited {
	color: inherit;
	text-decoration: none;
}

a:first-child{
  margin-left: 0;
}


a:last-child{
  margin-right: 0;
}

a:first-child{
  margin-left: 0;
}

a.link::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  margin-top: -.5em;
  background: darken($primary-grey, 10%);
  transition: width .3s;
}

a.link:hover::after {
  width: 100%;
}

.container{
  margin:2em auto;
}

ul{
  list-style-type:none;
  padding-left: 1em;
  &.checkbox-group{
    padding:0 1em 1em;

    .checkbox-item{
      &:last-child {
        .checkbox {
          margin-bottom: 0;
        }
      }
    }
  }
  .checklist-item{
    border-top: 1px solid $primary-grey;
    &:last-child {
      border-bottom: 1px solid $primary-grey;
    }
  }
}

.accordion{
  padding: 0 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  //border-top: 1px solid $primary-grey;
  &::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: .15;
    pointer-events: none;
    transition: opacity .2s;
    z-index: -1;
  }
  .accordion-title{
    font-weight: 700;
    padding: 1em 1em;
    display: block;
    position: relative;
    cursor: pointer;

    &:focus{
      outline: 0;
      background-color: lighten($primary-grey, 5%);
    }

    &::before,
    &::after {
     width: .75em;
     margin-right: 1em;
     height: 2px;
     position: absolute;
     top: 50%;
     right: 0;
     content: '';
     background-color: currentColor;
     text-align: right;
     transform: translateY(-50%);
     transition: transform .3s ease-in-out;
    }

    &::after {
     transform: translateY(-50%) rotate(90deg);
    }

    &::-webkit-details-marker {
     display: none;
    }
  }
  .accordion-summary{
    padding-left: 1em;
  }
  .accordion-content{

  }

  .checklist-quote{
    margin: auto 1em;
  }

  &[open] {
    background-color: #FFF;
    border-left: 1px solid $primary-grey;
    border-right: 1px solid $primary-grey;
    padding-bottom: 1em;
    .accordion-title{
      background-color: $primary-grey;
      &::after {
         transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}

details[open].accordion {
    //padding: 1em 1em;
    .accordion-title{
      //border-bottom: 1px solid $primary-grey;
      //margin-bottom: .5em;
      background-color: $primary-grey;

      &::after {
         transform: translateY(-50%) rotate(180deg);
      }

    }
}



.checkbox-title{
  margin-bottom: 1em;
  display: block;
}

// Checkbox variables
.checkbox {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-bottom: 1em;
  cursor: pointer;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.checkbox-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $primary-grey;
}

.checkbox:hover input ~ .checkbox-indicator,
.checkbox input:focus ~ .checkbox-indicator {
  background: darken($primary-grey, 10%)
}
.checkbox input:checked ~ .checkbox-indicator {
  background: $primary-color;
}
.checkbox:hover input:not([disabled]):checked ~ .checkbox-indicator,
.checkbox input:checked:focus ~ .checkbox-indicator {
  background: darken($primary-color, 10%)
}
.checkbox input:disabled ~ .checkbox-indicator {
  background: $primary-grey;
  opacity: 0.6;
  pointer-events: none;
}
.checkbox-indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkbox-indicator:after {
  display: block;
}
.checkbox .checkbox-indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox input:disabled ~ .checkbox-indicator:after {
  border-color: darken($primary-grey, 60%)
}
